image: alekzonder/puppeteer:latest

stages:
  - qa
  - deploy

cache:
  paths:
    - node_modules/

qa:
  stage: qa
  script:
      - yarn test

pages:
  stage: deploy
  environment:
    name: production
    url: https://stephanemonnot.com/
  script:
      - REACT_APP_LOCALE=ja yarn build
      - mv build build_ja
      - REACT_APP_LOCALE=en yarn build
      - mv build build_en
      - mv public oldpublic
      - mkdir public/
      - mv build_ja public/ja
      - mv build_en public/en
  artifacts:
    paths:
      - public
  only:
    - master
