.ResumeCustomersBlock-customers {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.ResumeCustomersBlock-customer {
    width: 150px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
}

.ResumeCustomersBlock-customer > div {
    padding: 16px !important;
}

.ResumeCustomersBlock-customer img {
    max-width: 100%;
}

@media only screen and (max-width: 800px) {
    .ResumeCustomersBlock-customers {
        padding: 20px;
    }

    .ResumeCustomersBlock-customer {
        width: 31%;
        margin: 1%;
    }
}

@media only screen and (max-width: 480px) {
    .ResumeCustomersBlock-customers {
        padding: 20px;
    }

    .ResumeCustomersBlock-customer {
        width: 48%;
        margin: 1%;
    }
}