
.ResumeAppBar-title {
    flex: 1;
}

.ResumeAppBar {
    background: transparent !important;
    box-shadow: none !important;
}

.ResumeAppBar a {
    color: white;
}

.ResumeAppBar a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}

.ResumeAppBar-header {
    justify-content: flex-end;
}

@media only screen and (max-width: 800px) {
    .ResumeAppBar-header {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .ResumeAppBar-title {
        display: none !important;
    }
}