.Resume {
    padding-bottom: 56px;
}

.Resume .ScreenBlockContainer:nth-child(even) .ScreenBlock {
    background: #fff;
}

.Resume .vertical-timeline-element-title {
    margin: 0;
}

.Resume .vertical-timeline-element-subtitle {
    margin: 0;
}

.Resume .vertical-timeline-element-content p {
    margin: 1em 0 0;
}

.Resume h2 {
    margin: 0;
    color: #ff4081;
    font-size: 34px;
    text-transform: none;
}

.Resume #Resume-home h1 {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.Resume #Resume-home h2 {
    margin: 0;
    color: #fff;
}

.Resume-profilePicture img {
    border-radius: 50%;
    max-height: 150px;
    max-width: 150px;
    width: auto;
    height: auto;
    vertical-align: middle;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.07);
}

.Resume #Resume-home {
    /*margin-top: 64px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resume-home-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    overflow: hidden;
    text-align: center;
    background: #000;
}

.Resume .Resume-home-squares > div {
    opacity: 0.35;
}

.Resume-home-squares > div > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Resume-home-squares .SVGInline {
    width: 40%;
}

.Resume .Resume-home-headline-container {
    color: #fff;
    text-align: center;
    padding: 30px 25px 30px;
    max-width: 960px;
    border: 1px solid #fff;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}

.Resume-aboutMe-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Resume-aboutMe-content h3 {
    margin: 0;
    padding-bottom: 6px;
}

.Resume-aboutMe-content h4 {
    margin: 0;
    padding-bottom: 22px;
}

.Resume-aboutMe-content a {
    padding: 14px 23px;
    font-size: 16px;
}

.Resume-aboutMe-profilePicture img {
    max-width: 90%;
    max-height: none;
}

.Resume-aboutMe-description {
    flex: 1;
    padding-right: 35px;
}

.Resume .container {
    padding-top: 85px;
    padding-bottom: 69px;
}

/* fix problem scroll spy with work & education */
#Resume-work .container {
    padding-bottom: 0px;
}

#Resume-work #Resume-education {
    padding-bottom: 69px;
}

.Resume-header {
    margin-top: 100px;
    text-align: center;
}

.Resume-header p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #8a8a8b;
}

.Resume-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Resume-tools {
    text-align: center;
}

.Resume-tools p {
    margin-top: 0;
    padding-top: 0;
}

.Resume-skills-category {
    width: 32%;
    margin-bottom: 15px;
}

.Resume-skills-category h3 {
    margin-top: 0;
}

.Resume-skills-category-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Resume-skills > div {
    width: 23%;
    text-align: center;
    margin-bottom: 15px;
}


.Resume-skills svg {
    width: 60px;
    height: 60px;
}


.Resume-skillTitle {
    margin-bottom: 10px;
    font-size: 15px;
}

#Resume-languages .container {
    text-align: center;
}

.Resume-languages {
    display: inline-flex;
    flex-flow: column nowrap;
}

.Resume-languages:after {
    clear: both;
}

.Resume-language {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-between;
}

.Resume-languageTitleAndLevel {
    text-align: left;
    padding-right: 25px;
}

.Resume-languageTitle {
    text-transform: uppercase;
    font-weight: 500;
}

.Resume-languageLevel {
    color: #8a8a8b;
    width: 100%;
    text-align: left;
}

.Resume-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Resume-hobby {
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
}

.Resume-hobby h4 {
    margin: 4px;
}

.Resume-hobby .material-icons {
    font-size: 48px;
}

.Resume-project-technologies {
    display: flex;
    justifyContent: center;
    flexWrap: wrap;
    margin-bottom: 10px;
}

.Resume-project-technologies > * {
    margin-right: 5px;
}

.Resume-project-technologies > * > * {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.Resume-project-links > * {
    margin-right: 10px;
}

#Resume-aboutMe * {
    color: #fff;
}

.vertical-timeline {
    margin: 0 auto !important;
}

.vertical-timeline-element--laravel .vertical-timeline-element-content {
    border-top: 3px solid #fd4f31;
}

.vertical-timeline-element--php .vertical-timeline-element-content {
    border-top: 3px solid #6181b6;
}

.vertical-timeline-element--react .vertical-timeline-element-content {
    border-top: 3px solid #61DAFB;
}

.vertical-timeline-element-icon .SVGInline {
    display: block;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    margin-top: -18px;
    position: relative;
    left: 50%;
    top: 50%;
}

.vertical-timeline-element-icon .SVGInline svg {
    width: 36px;
    height: 36px;
    left: auto;
    top: auto;
    margin-left: 0px;
    margin-top: 0px;
}


.vertical-timeline-element-icon .SVGInline svg path,
.vertical-timeline-element-icon .SVGInline svg g,
.Resume-home-squares .SVGInline svg path,
.Resume-home-squares .SVGInline svg g,
.Resume-skills svg path,
.Resume-skills svg g {
    fill: #fff !important;
}

@media only screen and (max-width: 1170px) {
    .Resume-aboutMe-content {
        padding-left: 12px;
        padding-right: 12px;
    }

    .vertical-timeline-element-icon .SVGInline {
        width: 24px;
        height: 24px;
        margin-left: -12px;
        margin-top: -12px;
    }

    .vertical-timeline-element-icon .SVGInline svg {
        width: 24px;
        height: 24px;
    }

    .Resume-skills-category {
        width: 49%;
    }
}

@media only screen and (max-width: 800px) {
    .Resume .container {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .Resume-skills {
        justify-content: space-around;
    }

    .Resume-skills > div {
        width: 45%;
    }

    .Resume-aboutMe-content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .Resume-aboutMe-description {
        padding-right: 0;
    }

    .Resume-aboutMe-profilePicture {
        max-width: 45%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .Resume-aboutMe-profilePicture img {
        max-height: none;
    }

    .Resume #Resume-home h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .Resume #Resume-home h1 {
        font-size: 42px;
        line-height: 48px;
    }

    .Resume-skills-category {
        width: 100%;
    }

    .Resume-skill {
        width: 30%;
    }
}

@media only screen and (max-width: 480px) {
    .Resume-skills {
        justify-content: center;
    }

    .Resume-skills > div {
        width: 90%;
    }

    .Resume-skills svg {
        width: 60px;
        height: 60px;
    }
}