.WaitingUntilJapanScreen-card {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
}

.WaitingUntilJapanScreen-progress {
    height: 25px !important;
}

.WaitingUntilJapanScreen-progress-percent {
    position: absolute;
    top: 5px;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.WaitingUntilJapanScreen-card-footer {
    padding: 50px !important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto !important;
}

.WaitingUntilJapanScreen-info {
    text-align: center;
    margin: 10px !important;
}

.WaitingUntilJapanScreen-info-title {
    color: beige;
    margin-bottom: 5px;
}

.WaitingUntilJapanScreen-info-value {
    font-size: 24px;
    font-weight: 600;
}

@media only screen and (max-width: 1000px) {
    .WaitingUntilJapanScreen-card-footer {
        padding: 20px !important;
    }

    .WaitingUntilJapanScreen-card {
        max-width: 95%;
    }

    .WaitingUntilJapanScreen-info {
        width: 40%;
    }
}