.ResumeLanguagesAndHobbiesBlock .container {
    text-align: center;
}

.ResumeLanguagesAndHobbiesBlock-languages {
    display: inline-flex;
    flex-flow: column nowrap;
}

.ResumeLanguagesAndHobbiesBlock-languages:after {
    clear: both;
}

.ResumeLanguagesAndHobbiesBlock-language {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-between;
}

.ResumeLanguagesAndHobbiesBlock-languageTitleAndLevel {
    text-align: left;
    padding-right: 25px;
}

.ResumeLanguagesAndHobbiesBlock-languageTitle {
    text-transform: uppercase;
    font-weight: 500;
}

.ResumeLanguagesAndHobbiesBlock-languageLevel {
    color: #8a8a8b;
    width: 100%;
    text-align: left;
}

.ResumeLanguagesAndHobbiesBlock-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.ResumeLanguagesAndHobbiesBlock-hobby {
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
}

.ResumeLanguagesAndHobbiesBlock-hobby h4 {
    margin: 4px;
}

.ResumeLanguagesAndHobbiesBlock-hobby .material-icons {
    font-size: 48px;
}

@media only screen and (max-width: 800px) {
    .ResumeLanguagesAndHobbiesBlock-hobbies {
        padding: 20px;
    }

    .ResumeLanguagesAndHobbiesBlock-hobby {
        width: 31%;
        margin: 1%;
    }
}

@media only screen and (max-width: 480px) {
    .ResumeLanguagesAndHobbiesBlock-hobbies {
        padding: 20px;
    }

    .ResumeLanguagesAndHobbiesBlock-hobby {
        width: 48%;
        margin: 1%;
    }
}